# INTRODUCTION

Some say climate change is the greatest threat of our time, others say it's a myth based on dangerous science. For my final work, I analyzed, visualized, predicted and modeled Berkeley Earth's Climate Change: Earth Surface Temperature Data dataset.

# LIBRARIES
Libraries required

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import plotly.offline as py
import seaborn as sns
import plotly.graph_objs as go

In [ ]:
from pandas import read_csv
from pandas.plotting import scatter_matrix
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

# DATA ANALYSIS

In [ ]:
data=pd.read_csv('GlobalTemperatures.csv')

When we take a look at the data, we see that there are a lot of NaN values ​​in the first years. We will need to delete these values ​​before doing some operations.

In [ ]:
data.head().T

,0,1,2,3,4
dt,1750-01-01,1750-02-01,1750-03-01,1750-04-01,1750-05-01
LandAverageTemperature,3.034,3.083,5.626,8.49,11.573
LandAverageTemperatureUncertainty,3.574,3.702,3.076,2.451,2.072
LandMaxTemperature,NaN,NaN,NaN,NaN,NaN
LandMaxTemperatureUncertainty,NaN,NaN,NaN,NaN,NaN
LandMinTemperature,NaN,NaN,NaN,NaN,NaN
LandMinTemperatureUncertainty,NaN,NaN,NaN,NaN,NaN
LandAndOceanAverageTemperature,NaN,NaN,NaN,NaN,NaN
LandAndOceanAverageTemperatureUncertainty,NaN,NaN,NaN,NaN,NaN

Some properties about the dataset.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB


Some properties of the data.

In [ ]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
LandAverageTemperature,3180.0,8.374731,4.381310,-2.080,4.31200,8.6105,12.54825,19.021
LandAverageTemperatureUncertainty,3180.0,0.938468,1.096440,0.034,0.18675,0.3920,1.41925,7.880
LandMaxTemperature,1992.0,14.350601,4.309579,5.900,10.21200,14.7600,18.45150,21.320
LandMaxTemperatureUncertainty,1992.0,0.479782,0.583203,0.044,0.14200,0.2520,0.53900,4.373
LandMinTemperature,1992.0,2.743595,4.155835,-5.407,-1.33450,2.9495,6.77875,9.715
LandMinTemperatureUncertainty,1992.0,0.431849,0.445838,0.045,0.15500,0.2790,0.45825,3.498
LandAndOceanAverageTemperature,1992.0,15.212566,1.274093,12.475,14.04700,15.2510,16.39625,17.611
LandAndOceanAverageTemperatureUncertainty,1992.0,0.128532,0.073587,0.042,0.06300,0.1220,0.15100,0.457